{% extends "base.html" %}

{% block content %}
<figure class="text-center">
<h1>Документация</h1>
</figure>

<h3>Функционал состоит из двух вещей:</h3>
    <ol>
      <li>Получение полного списка слов с переводом и транскрипцией</li>
      <li>Получение инфоромации о заданном слове</li>
    </ol>

<h4>1. Получение полного списка слов с переводом и транскрипцией</h4>
<h5>Для этого надо запросить json файл по ссылке: http://eng-project-learning.herokuapp.com/api/eng</h5>

<h4>2. Получение инфоромации о заданном слове</h4>
<h5>Для этого надо запросить json файл по ссылке, указав слово: http://eng-project-learning.herokuapp.com/api/eng/{слово}</h5>

{% endblock %}