{% extends "base.html" %}

{% block content %}
<h1></h1>
<form action="/generator" method="post">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <label for="count1" class="col-form-label">Количество слов</label>
        </div>
        <div class="col-auto">
            <input type="number" id="count1" class="form-control" min="5" max="30" name="count">
        </div>
        <div class="col-auto">
            <input type="submit" name="btn1" class="btn btn-primary mb-1" value="Сгенерировать">
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
            Доступное количество от 5 до 30.
            </span>
        </div>
    </div>
{% if check %}
    <embed src="{{ url_for('static', filename='output.mp3') }}" autostart="true" width="0"
         height="0">

{% endif %}

{% for item in words%}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-1"><input type="submit" name="{{item[0]}}" class="btn btn-primary mb-1" value="Аудио"></div>
        <div class="col-2">{{item[1]}}</div>
        <div class="col-2">{{item[2]}}</div>
        <div class="col-4">{{item[3]}}</div>
    </div>
</div>
{% endfor %}
{% if words %}
    <div class="container">
        <div class="row justify-content-md-center">
            <input type="submit" name="test" class="btn btn-success mb-2" value="Пройти тест">
        </div>
    </div>
</form>
{% endif %}
{% endblock %}