{% extends "base.html" %}

{% block content %}


<form action="/" method="post">
<h1></h1>
<figure class="text-center">
  <blockquote class="blockquote">
    <h2>Добро пожаловать на наш сайт по изучению английских слов!
    Здесь Вы можете пополнить свой словарный запас, а в дальнейшем повторять уже изученные слова.</h2>
  </blockquote>
  <blockquote class="blockquote">
    <h3>Так же Вы можете познакомиться с нашим <a href="/api">api</a></h3>
  </blockquote>
</figure>
<figure class="text-center">

<div class="conrainer">
{% if current_user.is_authenticated %}
    <button type="submit" class="btn btn-success" name="go_to_learn">Перейти к изучению</button>
{% else %}
    <button type="submit" class="btn btn-success" name="go_to_learn" disabled>Перейти к изучению</button>
    <h6><small class="text-muted">Для того, чтобы повторить или изучить слова, надо войти в аккаунт</small></h6>
{% endif %}

</div>
</figure>
<h1></h1>

<h2>Ваши выученные слова:</h2>
{% if words %}
<div class="d-grid gap-2 col-6 mx-auto">
  <input type="submit" name="test" class="btn btn-success" value="Пройти тест">
</div>
<div class="row justify-content-md-right">
  <table class="table table-striped">
      <thead class="table">
      <tr>
          <th scope="col">Аудио</th>
          <th scope="col">Слово</th>
          <th scope="col">Транскрипция</th>
          <th scope="col">Перевод</th>
      </tr>
      </thead>
      
      {% for item in words%}
      <tr>
          <td><input type="submit" name="{{item[0]}}" class="btn btn-primary mb-1" value="Прослушать"></td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
      </tr>
      {% endfor %}
  </table>
</div>


  <h1></h1>
  <h1></h1>


{% else %}
{% if current_user.is_authenticated %}
<h5>Похоже Вы не выучили ни одного слова :(</h5>
{% endif %}
{% endif %}


</form>
{% if sound %}
    <embed src="static/{{ id }}" autostart="true" width="0"
         height="0">
{% endif %}
{% endblock %}